*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* main section start */

/* CSS for Banar section */

.banar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
    background-color: #FCEEF1;
    padding-top: 50px;
}

.banar .banar-des{}
.banar .banar-des h3{
    font-size: 70px;
    color: #272727;
}

.banar .banar-des p{
    font-size: 18px;
    line-height: 30px;
    padding: 18px 0px;
}

.banar .banar-des .banar-btn{
    background-color:#E55473;
    color: #fff;
    padding: 12px 28px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

/* banar image div css */

.banar .banar-image{
    padding-left: 40px;
}

.banar .imgg{
    max-width: 570px;
    height: 610px;
}

/* feature css */
 
.feature{
    text-align: center;
    padding: 90px 0px;
    max-width: 590px;
    margin: auto;
}

.feature h4{
    font-size: 40px;
}

.feature p{
    font-size: 18px;
    line-height: 30px;
}

/* flower shocase css */

.flower-shocase{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    margin-bottom: 100px;
}

.flower-shocase .flower1{
    background-color: #F2DEE7;
    width: 454px;
    height: 540px;
    margin: auto;
    text-align: center;
    border-radius: 400px 400px 0px 0px;
    margin-right: 15px;
}

.flower-shocase .flower2{
    background-color: #D9EFF1;
    width: 454px;
    height: 540px;
    margin: auto;
    text-align: center;
    border-radius: 400px 400px 0px 0px;
    margin-right: 15px;
}


.flower-shocase .flower3{
    background-color: #E3EBDB;
    width: 454px;
    height: 540px;
    margin: auto;
    text-align: center;
    border-radius: 400px 400px 0px 0px;
    margin-right: 15px;
}

.flower-shocase li{
    padding-top: 20px;
    list-style: none;
}

.flower-shocase li a{
    text-decoration: underline;
    color: black;
}

.flower-shocase .imgg{
    width: 310px;
    height: 410px;
    padding-top: 130px;
}

/* intro section css */
.intro{
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    padding: 50px 100px;
    background-color: #F4F4F4;
    max-width: 944px;
    margin: auto;
    margin-right: 116px;
    margin-bottom: 100px;
}

.intro .div{
    text-align: center;
}


/* Hot Deal section CSS */
.hot-deal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 815px;
    margin: auto;
    padding-bottom: 100px;
}

.hot-deal .hot-deal-des h4{
    font-size: 35px;
    text-align: center;
}

.hot-deal .hot-deal-des{
    text-align: center;
}

.hot-deal .hot-deal-des .off{
    color: #E55473;
}

.hot-deal .hot-deal-des p{
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 30px 0px;
}

.hot-deal .hot-deal-image{
    padding-left: 30px;
}
.hot-deal .hot-deal-image .imgg{
    width: 270px;
}

.hot-deal .hot-deal-btn{
    background-color:#E55473;
    color: #fff;
    padding: 12px 28px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    /* text-align: center; */
}

/* Bonas section css */
.bonas{
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;

}

.bonas .extra-bonas{
    position: relative;
    margin: 0px 8px;
}
.bonas .extra-bonas .b-img{
    width: 320px;
}

.bonas li{
    text-align: center;
    list-style: none;
    padding-top: 18px;
}

.bonas .extra-bonas .img1{
 
}

.bonas .div1{
    width: 85px;
    height: 36px;
    background-color: #E55473;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 8px 0px 8px 0px;
}

.bonas .div1 p{
    color: #fff;
    text-align: center;
    padding-top: 9px;
}

.bonas .div3{
    width: 85px;
    height: 36px;
    background-color: #21c23b;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 8px 0px 8px 0px;
}

.bonas .div3 p{
    color: #fff;
    text-align: center;
    padding-top: 9px;
}